<div class="container-fluid bg-white">
  <div
    class="d-flex mx-auto justify-content-between justify-content-center align-items-center mb-3 py-4 px-3 px-md-4"
  >
    <div class="d-flex justify-content-center align-items-center gap-2">
      <div class="w-10 h-10 border rounded-7 bg-success text-align-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="35"
          height="35"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-receipt text-white"
        >
          <path d="M4 2v20l2-1 2 1 2-1 2 1 2-1 2 1 2-1 2 1V2l-2 1-2-1-2 1-2-1-2 1-2-1-2 1Z"></path>
          <path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"></path>
          <path d="M12 17.5v-11"></path>
        </svg>
      </div>
      <span class="font-semibold text-md">My Receipts</span>
    </div>
    <div class="flex align-items-center">
      <button class="btn btn-light text-decoration-none">Login</button>
      <button type="button" class="btn btn-success">Get Started</button>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row bg-light align-items-center justify-content-center gap-2 gap-md-0 mb-5"
  >
    <div class="w-100 w-md-50">
      <h1 class="font-bold text-4xl fs-1">Manage Your Receipts smarter</h1>
      <p class="text-xl text-secondary fs-4 mb-4">
        Streamline your expense tracking with digital receipt management. Upload, categorize, and
        analyze your receipts all in one place.
      </p>
      <span class="d-flex">
        <button
          type="button"
          class="btn btn-success d-flex justify-content-center align-items-center"
        >
          Get Started<span class="ps-3"
            ><i class="pi pi-arrow-right" style="font-size: 1rem"></i>
          </span>
        </button>
        <button class="btn btn-light text-decoration-none">Login</button>
      </span>
    </div>
    <div class="w-100 w-md-50">
      <img
        src="https://images.unsplash.com/photo-1551288049-bebda4e
   38f71?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3N
   zg4Nzd8MHwxfHNlYXJjaHwxfHxmaW5hbmNpYWwlMjBkYXNoYm9hcmQlMjBhbmFseXRpY3N8ZW58MXx
   8fHwxNzcxODExNzEwfDA&ixlib=rb-4.1.0&q=80&w=1080&utm_source=figma&utm_medium=referral"
        alt="Dashboard Preview "
      />
    </div>
  </div>
  <div class="d-flex flex-column py-5 align-items-center text-center">
    <h1 class="fw-bold">Everything You Need</h1>
    <p class="text-secondary col-12 col-md-6 fs-5">
      Powerful features to help you manage and track your expenses effortlessly
    </p>
  </div>
  <div class="d-flex flex-column flex-md-row gap-0 gap-md-4">
    <div class="card rounded-4">
      <div class="card-content">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="35"
          height="35"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-receipt text-white"
        >
          <path d="M4 2v20l2-1 2 1 2-1 2 1 2-1 2 1 2-1 2 1V2l-2 1-2-1-2 1-2-1-2 1-2-1-2 1Z"></path>
          <path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"></path>
          <path d="M12 17.5v-11"></path>
        </svg>
        <h4 class="fw-bold">Digital Receipts</h4>
        <div class="text-secondary">
          Upload and store all your receipts digitally. Never lose a paper receipt again with our
          secure cloud storage.
        </div>
      </div>
    </div>
    <div class="card rounded-4">
      <div class="card-content">
        <h4 class="fw-bold">Smart Analytics</h4>
        <div class="text-secondary">
          Get insights into your spending patterns with powerful analytics and visual reports to
          track expenses.
        </div>
      </div>
    </div>
    <div class="card rounded-4">
      <div class="card-content">
        <h4 class="fw-bold">Secure $ Private</h4>
        <div class="text-secondary">
          Your data is encrypted and secured with industry-standard security measures. Your privacy
          is our priority.
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column py-5 align-items-center text-center">
    <h3>Ready to get started?</h3>
    <p class="fs-5">Join thousands of users managing their receipts smarter</p>
    <span class="btn btn-link bg-white text-dark text-decoration-none rounded"
      >Create Free Account</span
    >
  </div>
</div>
